/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("cherry-blossom.jpg");
}

.fortune-cookie-saying-wrapper {
    background-color: aliceblue;
    border: 3px outset pink;
    padding: 1em;
    margin: 1em;
}

ul {
    list-style-type: none;
}